.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 105px;
    object-fit:cover;
    margin: 0 20px;
    margin-top: 1px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}


.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    align-items: center;
    width: 100%;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
   display: flex;
   align-items: center;
   color: white;
   /* margin-right: 30px; */
    padding-top: 5px;

}
.header_basketCount {
    /* margin-left: 10px; */
    margin-right: 10px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_searchIcon{
    padding: 5px;
    height: 22.5px !important;
    background-color: #cd9042;

}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* margin-right: 10px; */
    color: white;

}
